<div class="container">
  <h1 class="center-align">SERVICES</h1>
  <hr class="hr-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12">
        <p class="center-align">At Designs by Heli & Carlynn, we specialize in creating an image true to you. It is our goal to provide you with everything you will need for a timeless brand. In today's marketplace your name is everything and it's important to showcase this in the best possible way. We are here to help you accomplish these goals. With experience in graphic design and web development we are committed to taking care of your needs.</p>
      </div>
    </div>
    <div class="row" id="branding">
      <div class="col s12 m2 offset-m1">
        <div class="circle-services">
          <h4 class="gold-text vet-horiz-text gold-txt">B</h4>
        </div>
      </div>
      <div class="col s12 m8">
        <p>Branding</p>
        <p>Branding is one of the most important aspects of any business. Small or large an effective brand strategy gives you a greater edge on the increasingly competitive marketplace. Good branding increases the value of a company, provides employees with direction and motivation, and makes acquiring new customers easier. We have a strategy to create a timeless brand that will last throughout the trends and make a presence within the marketplace.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 offset-m1">
        <div class="circle-services">
          <h4 class="gold-text vet-horiz-text gold-txt">WD</h4>
        </div>
      </div>
      <div class="col s12 m8">
        <p id="website-design">Website Design</p>
        <p>It doesn't matter if you're building a website for a multi-million dollar company or a personal blog, creating a website with a clear representation of your product will set you apart and make your website memorable. It is imperative to keep up with the latest technology. More and more people are using their phones. Mobile responsive site's are vital for any business.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 offset-m1">
        <div class="circle-services">
          <h4 class="gold-text vet-horiz-text gold-txt">LD</h4>
        </div>
      </div>
      <div class="col s12 m8">
        <p id="logo-design">Logo Design</p>
        <p>A logo is not your brand, nor is it your identity. Simply put, it is for identification. The purpose of a logo is to help people recognize your business in the form of a mark or an icon. We follow a strict design process to ensure a logo fits your company’s needs and will leave a lasting impression on your users. The ultimate goal is to have a logo become familiar so people become familiar with your brand.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 offset-m1">
        <div class="circle-services">
          <h4 class="gold-text vet-horiz-text gold-txt">PE</h4>
        </div>
      </div>
      <div class="col s12 m8">
        <p id="photo-editing">Photo Editing</p>
        <p>One of the most important parts of taking a picture is being able to edit the photo after it is taken. We are experienced with photo editing and are professionally trained to use all of the latest Adobe Creative Cloud products to get you to the desired final result.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 offset-m1">
        <div class="circle-services">
          <h4 class="gold-text vet-horiz-text gold-txt">PD</h4>
        </div>
      </div>
      <div class="col s12 m8">
        <p id="print-design">Print Design</p>
        <p>Along with a solid online presence, print design can be vital for your business' success. Having an effective, well-designed print marketing materials will contribute to the credibility of your business, and build brand recognition. Having more than one way to market your business solidifies your brand and establishes brand recognition. The more you allow your brand to be seen, the more recognizable it becomes. Our goal is to determine what will work best for your unique business needs, and to make recommendations that will help your business grow.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 offset-m1">
        <div class="circle-services">
          <h4 class="gold-text vet-horiz-text gold-txt">SM</h4>
        </div>
      </div>
      <div class="col s12 m8">
        <p id="social-media">Social Media</p>
        <p>Due to the continuously developing internet marketing industry there are countless digital media and social networking sites, all of which have a unique characteristic and purpose. Having a social media presence without an appropriate strategy and plan can be just as damaging for your business as no plan at all. We have created a social media marketing strategy checklist that should aid your online marketing operations. A company’s social media presence, when done correctly, tells consumers that their brand is active and focused on thriving communication with consumers.</p>
      </div>
    </div>
  </div>
</div>
