<div class="container-fluid">
  <div class="header valign-wrapper">
    <div class="row">
      <h1 class="center-align gold-txt">DESIGNS BY HELI & CARLYNN</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-full">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">SERVICES</h2>
      </div>
      <div class="col s6 m4 outer-box valign-wrapper">
        <div class="inner-box">
          <div class="inner-fill-box valign-wrapper div-btn" href="/services#branding">
            <h4 class="inner-text-box cursive gold-text">Branding</h4>
          </div>
        </div>
      </div>
      <div class="col s6 m4 outer-box valign-wrapper">
        <div class="inner-box">
          <div class="inner-fill-box valign-wrapper div-btn" href="/services#website-design">
            <h4 class="inner-text-box cursive gold-text">Website Design</h4>
          </div>
        </div>
      </div>
      <div class="col s6 m4 outer-box valign-wrapper div-btn" href="/services#logo-design">
        <div class="inner-box">
          <div class="inner-fill-box valign-wrapper">
            <h4 class="inner-text-box cursive gold-text">Logo Design</h4>
          </div>
        </div>
      </div>
    <div class="col s6 m4 outer-box valign-wrapper">
      <div class="inner-box">
        <div class="inner-fill-box valign-wrapper div-btn" href="/services#photo-editing">
          <h4 class="inner-text-box cursive gold-text">Photo Editing</h4>
        </div>
      </div>
    </div>
    <div class="col s6 m4 outer-box valign-wrapper div-btn" href="/services#print-design">
      <div class="inner-box">
        <div class="inner-fill-box valign-wrapper">
          <h4 class="inner-text-box cursive gold-text">Print Design</h4>
        </div>
      </div>
    </div>
    <div class="col s6 m4 outer-box valign-wrapper div-btn" href="/services#social-media">
      <div class="inner-box">
        <div class="inner-fill-box valign-wrapper div-btn">
          <h4 class="inner-text-box cursive gold-text">Social Media</h4>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container-full">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">INSPIRATION</h2>
      </div>
      <%= link_to inspiration_path do %>
        <div class="row cont-box">
          <div class="col s4 med-box a-box"></div>
          <div class="col s4 med-box b-box"></div>
          <div class="col s4 small-box e-box"></div>
          <div class="col s4 small-box f-box"></div>
          <div class="col s4 large-box c-box"></div>
          <div class="col s4 large-box d-box"></div>
          <div class="col s4 small-box g-box"></div>
          <div class="col s4 small-box h-box"></div>
          <div class="col s4 small-box i-box"></div>
          <div class="circle abs-circle"></div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container-full">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">PORTFOLIO</h2>
      </div>
    </div>
    <%= link_to portfolio_index_path do %>
      <div class="row">
        <div class="col s12 m8">
          <%= image_tag "queensborough-01.jpg", class: "profile-image" %>
        </div>
        <div class="col s6 m4">
          <p class="center-align cursive">"Working with the team was such a great experience. They listened to what I wanted and made my vision come to life"</p>
        </div>
        <div class="col s6 m4">
          <%= image_tag "https://static1.squarespace.com/static/571670a9a3360c1a30ec94a3/t/5988e9cde4fcb595c745382a/1502144983040/?format=750w", class: "profile-image" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
