<div class="container-fluid">
  <div class="header valign-wrapper">
    <div class="row">
      <h1 class="center-align">HC DESIGNS</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-full">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">SERVICES</h2>
      </div>
      <div class="col s6 m4 outer-box valign-wrapper">
        <div class="inner-box">
          <div class="inner-fill-box valign-wrapper">
            <p class="inner-text-box">BRANDING</p>
          </div>
        </div>
      </div>
      <div class="col s6 m4 outer-box valign-wrapper">
        <div class="inner-box">
          <div class="inner-fill-box valign-wrapper">
            <p class="inner-text-box">WEBSITE DESIGN</p>
          </div>
        </div>
      </div>
      <div class="col s6 m4 outer-box valign-wrapper">
        <div class="inner-box">
          <div class="inner-fill-box valign-wrapper">
            <p class="inner-text-box">LOGO</p>
          </div>
        </div>
      </div>
    <div class="col s6 m4 outer-box valign-wrapper">
      <div class="inner-box">
        <div class="inner-fill-box valign-wrapper">
          <p class="inner-text-box">PHOTO EDITING</p>
        </div>
      </div>
    </div>
    <div class="col s6 m4 outer-box valign-wrapper">
      <div class="inner-box">
        <div class="inner-fill-box valign-wrapper">
          <p class="inner-text-box">PRINT DESIGN</p>
        </div>
      </div>
    </div>
    <div class="col s6 m4 outer-box valign-wrapper">
      <div class="inner-box">
        <div class="inner-fill-box valign-wrapper">
          <p class="inner-text-box">SOCIAL MEDIA</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container-full">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">INSPIRATION</h2>
      </div>
      <div class="row cont-box">
        <div class="col s4 med-box a-box"></div>
        <div class="col s4 med-box b-box"></div>
        <div class="col s4 small-box c-box"></div>
        <div class="col s4 small-box d-box"></div>
        <div class="col s4 large-box e-box"></div>
        <div class="col s4 large-box f-box"></div>
        <div class="col s4 small-box g-box"></div>
        <div class="col s4 small-box h-box"></div>
        <div class="col s4 small-box i-box"></div>
        <div class="circle abs-circle"></div>
      </div>
    </div>
  </div>
  <div class="container-full">
    <div class="row">
      <div class="col s12">
        <h2 class="center-align">PORTFOLIO</h2>
      </div>
    </div>
  </div>
</div>
