<div class="container">
  <h1 class="center-align">WHAT INSPIRES</h1>
  <hr class="hr-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12">
        <p class="center-align">As designers, we often think we have all the answers. It is our job to know what looks good and we take that responsibility seriously! But even if you are talented and your work is top-notch its easy to misread client expectations. Words fail miserably when trying to translate design concepts. What one person calls “edgy” another might see as chaotic. That is why we work with you to develop a mood board for the outline of the design process. Below illustrates just a few of the steps we take to accomplish this.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s3 center-align parent-padding">
        <div class="circle-insp circle-a"></div>
      </div>
      <div class="col s3 center-align parent-padding">
        <div class="circle-insp circle-b"></div>
      </div>
      <div class="col s3 center-align parent-padding">
        <div class="circle-insp circle-c"></div>
      </div>
      <div class="col s3 center-align parent-padding">
        <div class="circle-insp circle-d"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">COLOR PALETTE</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <div class="rectangle-flex rectangle-a"></div>
      </div>
      <div class="col s4">
        <div class="rectangle-flex rectangle-b"></div>
      </div>
      <div class="col s4">
        <div class="rectangle-flex rectangle-c"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">TEXTURE</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <h4 class="center-align">HEADER</h4>
      </div>
      <div class="col s12 m4">
        <h4 class="center-align">Decorative</h4>
      </div>
      <div class="col s12 m4">
        <h4 class="center-align">Paragraph</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">FONT</h5>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="square-flex">
          <div class="square-a"></div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="square-flex square-b"></div>
      </div>
      <div class="col s12 m4">
        <div class="square-flex">
          <div class="square-c"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5 class="center-align">LOGO DESIGN</h5>
      </div>
    </div>
  </div>
</div>
