<div class="container">
  <h1 class="center-align">MEET THE TEAM</h1>
  <hr class="hr-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col s6 m4">
        <p>Image to go here</p>
      </div>
      <div class="col s12 m8">
        <h5 class="gold-txt">The Artist</h5>
        <p>Bio...</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 right-align">
        <h5 class="gold-txt">The Designer</h5>
        <p>Carlynn Espinoza a former Civil Engineer who found her true path with coding. As an engineer she always looked for ways to design new and exciting projects. Ultimately, she challenged herself to discover more ways to express her creative nature. The combination of creative and logical problem solving in the technology world was the outlet she had been seeking.</p>
      </div>
      <div class="col s6 m4 right-align">
        <img src="https://photos.smugmug.com/2017/101317-GA-Headshots/n-V2w3hf/i-6Fc9XF5/0/c1ba37c6/XL/i-6Fc9XF5-XL.jpg" class="profile-image">
      </div>
    </div>
  </div>
</div>
