/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "materialize/extras/nouislider";

body {
  font-family: 'Cinzel', serif;
  color: #B2B2B2;
  //  display: flex;
  //  min-height: 100vh;
  //  flex-direction: column;
 }
a {
 color: inherit;
 text-decoration: inherit;
}
input {
  margin: 0 !important;
}
 // main {
 //    flex: 1 0 auto;
 //  }
#sidenav-overlay {
  z-index: 996;
}
.cursive {
  font-family: 'Bad Script', cursive;
}
.container-fluid {
  margin: 0;
  top: 0;
}
.container-full {
  min-height: 100vh;
}
.nav-wrapper {
  background-color: #E4CFCF;
}
.gold-txt {
  color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    image-url("gold_foil_texture_01.jpg") repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
.hr-gray {
  border: 1px solid #B2B2B2;
}
