/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "materialize/extras/nouislider";

body {
  font-family: "Cinzel", serif;
  color: #6a6a6a;
  //  display: flex;
  //  min-height: 100vh;
  //  flex-direction: column;
 }
 // Put this in SASS format
// h1 {
//   font-family: "mrs-eaves-roman-small-caps", "Cinzel", serif;
// }
// h2 {
//   font-family: "mrs-eaves-roman-small-caps", "Cinzel", serif;
// }
// h3 {
//   font-family: "mrs-eaves-roman-small-caps", "Cinzel", serif;
// }
// h4 {
//   font-family: "mrs-eaves-roman-small-caps", "Cinzel", serif;
// }
// h5 {
//   font-family: "mrs-eaves-roman-small-caps", "Cinzel", serif;
// }
a {
 color: inherit;
 text-decoration: inherit;
}
input {
  margin: 0 !important;
}
// .input-field input[type=text]:focus {
//   background-color: #E4CFCF !important;
// }
// .input-field input[type=text]:focus {
//   background-color: #E4CFCF !important;
// }
// .input-field input:focus + label {
//    color: red !important;
//    background-color: #E4CFCF !important;
//  }
//  .row .input-field input:focus {
//   border-bottom: 1px solid red !important;
//   box-shadow: 0 1px 0 0 red !important;
//   background-size: 50px;
// }
 // main {
 //    flex: 1 0 auto;
 //  }
#sidenav-overlay {
  z-index: 996;
}
.cursive {
  font-family: 'Bad Script', cursive;
}
.container-fluid {
  margin: 0;
  top: 0;
}
.container-full {
  min-height: 100vh;
}
.nav-wrapper {
  background-color: #E4CFCF;
}
footer {
  background-color: #E4CFCF;
  height: 3.5rem;
}
.gold-txt {
  color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    image-url("rose-gold-texture-01.jpeg") repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
.hr-gray {
  border: 1px solid #6a6a6a;
}
.link-color {
  color: #C95D63;
}
.link-color:hover {
  color: #26a69a;
}
.text-color {
  color: #E4CFCF;
}
.profile-image {
  width: 100%;
  height: auto;
}
.btn-floating {
  background-color: transparent;
  box-shadow: none;
}
.btn-floating:hover {
  background-color: transparent;
  box-shadow: none;
}
// SASS: Inherets from link-color
.btn-floating i {
  color: #C95D63;
}
.cont-rel {
  position: relative;
}
.btn-abs {
  position: absolute;
  right:0;
  top:2%;
}
.btn-inline {
  display: inline;
}
#branding {
    padding-top: 10rem;
    margin-top: -10rem;
}
#website-design {
    padding-top: 10rem;
    margin-top: -10rem;
}
#logo-design {
    padding-top: 10rem;
    margin-top: -10rem;
}
#photo-editing {
    padding-top: 10rem;
    margin-top: -10rem;
}
#print-design {
    padding-top: 10rem;
    margin-top: -10rem;
}
.btn {
  border: #6a6a6a 1px solid;
  background-color: transparent;
  color: #6a6a6a;
  box-shadow: none;
}
.btn:hover {
  background-color: transparent;
  color: #C95D63;
}
// put this at the top, SASS
input#post_image {
  color: #C95D63;
}
input#images_ {
  color: #C95D63;
}
input {
  color: #C95D63;
}
textarea {
  color: #C95D63;
}
.logo-thumb {
  width: 25px;
  height: 25px;
}
.footer-content {
    padding-top: 1rem;
  }
