// Place all the styles related to the hcdesigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  height: 90vh;
  width: 100%;
  background: image-url("SplashPage_04.jpg");
  background-size: cover;
  z-index: -1;
  margin-bottom: 40px;
}
.txt-shadow {
  text-shadow: 2px 2px #6a6a6a;
}
.header-title {
  position: absolute;
}
.outer-box {
  width: 100%;
  height: 180px;
}
.inner-box {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  border: #E4CFCF solid 2px;
  text-align: center;
}
.inner-fill-box {
  width: 100%;
  height: 100%;
  top: 20%;
  left: 15%;
  position: absolute;
  background-color: #E4CFCF;
}
.inner-fill-box:hover {
  box-shadow: 0px 0px 15px 2px #6a6a6a;
  cursor: pointer;
  background-color: #E4CFCF;
}
.inner-text-box {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}
.cont-box {
  position: relative;
}
.small-box {
  width: 100%;
  height: 75px;
  border: white solid 2px;
}
.med-box {
  width: 100%;
  height: 150px;
  border: white solid 2px;
}
.large-box {
  width: 100%;
  height: 225px;
  border: white solid 2px;
}
.a-box {
  background-image: url("https://i.pinimg.com/736x/78/81/03/7881036575d15f28f497de2a2f61f7f5--red-watercolor-background-pink-watercolor-wallpaper.jpg");
  background-size: cover;
}
.b-box {
  background-image: image-url("palm-02.png");
  background-size: cover;
}
.c-box {
  background-image: image-url("palm-01.png");
  background-size: cover;
}
.d-box {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/03/a8/e4/03a8e4e84f298e448899fd41d301d7cd.jpg");
  background-size: cover;
}
.e-box {
  background-color: #005245;
}
.f-box {
  background-color: #22957d;
}
.g-box {
  background-color: #77cdb6;
}
.h-box {
  background-color:#c1dfdb;
}
.i-box {
  background-color: #f4c6b1;
}
.abs-circle {
  position: absolute;
  height: 125px;
  width: 125px;
  background-image: url("https://i.pinimg.com/736x/89/0e/81/890e81b464a1b7a8f64fdddcbb046347--juice-logo-family-brand.jpg");
  background-size: cover;
  border: white solid 2px;
  top: 190px;
  right: 25%;
}
// UPDATE THIS WITH SASS??
.inner-fill-box:hover .gold-text {
  color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    image-url("rose-gold-texture-01.jpeg") repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
.pos-abs {
  position: absolute;
}
.bottom-right {
  bottom: 0;
}
.image-full {
  width: 100%;
  height: 100%;
}
