// Place all the styles related to the inspiration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.insp-header-font {
  font-family: 'Josefin Sans', sans-serif;
}
.insp-decorative-font {
font-family: 'Great Vibes', cursive;
}
.insp-paragraph-font {
  margin-top: 2.3rem;
  font-family: 'Merriweather Sans', sans-serif;
}
.circle-a {
  display: inline-block;
  background-color: #fbe2d9;
}
.circle-b {
  display: inline-block;
  background-color: #c1d6d6;
}
.circle-c {
  display: inline-block;
  background-color: #5c5866;
}
.circle-d {
  display: inline-block;
  background-color: #de9b9a;
}
.rectangle-flex {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50%;
  border: #6a6a6a solid 1px;
}
.rectangle-a {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c5/37/54/c5375420bf9e4b6d672931e841ecee01.jpg");
  background-size: cover;
}
.rectangle-b {
  background-image: image-url("rose-gold-01.png");
  background-size: cover;
}
.rectangle-c {
  background-image: url("https://st.hzcdn.com/simgs/ab51a92307c845c2_4-9647/contemporary-wall-decals.jpg");
  background-size: cover;
}
.circle-insp {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  border: #6a6a6a solid 1px;
}
.parent-padding {
  padding: 3% !important;
}
.square-flex {
  width: 100%;
  height: 10rem;
  border: #6a6a6a solid 1px;
}
.square-a {
  background-image: image-url("logo-01.png");
  background-size: cover;
}
.square-b {
  background-image: image-url("logo-02.png");
  // background-size: cover;
  width: 100%;
  height: 100%;
}
img.square-c {
  background-image: image-url("logo-03.png");
}
.col-container {
    display: table;
    width: 100%;
    height: 5rem;
}
.col-content {
    display: table-cell;
    padding: 16px;
    border: red 2px solid;
    background-image: image-url("logo-01.png");
}
