// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.circle-services {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  border: #B2B2B2 solid 1px;
}
.vet-horiz-text {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
